@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --background-transparent: #ffffff34;
    --foreground: #ededed;
    --secondary: #0f0f0f;
    --secondary-2: #0099ff21;
    --font: #ffffff65;
    --transparent: #00befe53;
    --line:  rgb(58, 58, 58);
    --greenline:  rgba(0, 253, 21, 0.863);
    --redline:  rgb(253, 0, 0);
    --redbg:  rgba(255, 0, 0, 0.096);
    --greenbg:  rgba(0, 255, 21, 0.096);
    --gls: #ffffff00;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.search {
  display: flex;
}

.search > input {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 1px solid var(--line);
  border-radius: 4rem 0 0 4rem;
  background-image: url('../../public/images/search.svg');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.5rem center;
}

.search > button {
  border: 1px solid var(--line);
  border-radius: 0 4rem 4rem 0;
}

.glass {
  border: 1px 1px solid red;
}

option {
  background-color: var(--background);
}

.slide-right {
  animation: slide-right 0.2s ease-in-out;
}

.slide-down {
  animation: slide-down 0.2s ease-in-out;
}

.slide-right {
  animation: slide-right 0.2s ease-in-out;
}

@keyframes slide-right {
  from {transform: translateX(2rem)};
  to {transform: translateX(0);}
}

@keyframes slide-down {
  from {transform: translateY(-2rem)};
  to {transform: translateY(0);}
}

@keyframes slide-right {
  from {transform: translateX(1rem); opacity: 0;};
  to {transform: translateX(0); opacity: 1;}
}